<ion-header>
  <ion-toolbar>
    <ion-title>InfoPharmacie - {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card *ngFor="let item of response">
        <h1>{{item.label}}</h1>
        <p>{{item.value}}</p>
    </ion-card>
    

</ion-content>
