<ion-header>
  <ion-toolbar>
    <ion-title>Edition de formulaire</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" fill="outline" (click)="saveForm()">
        Sauvegarder
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>FormulaireName :</ion-label>
    <ion-input placeholder = 'Enter form name' [(ngModel)]="this.formServ.name"></ion-input>
  </ion-item>

  <div *ngFor ="let field of formServ.fields; let i = index" [attr.data-index]="i">
    <div *ngIf="field.type === 'InputText'">
      <ion-item>
        <ion-label>Text Input :</ion-label>
        <ion-input placeholder = 'Enter a text label' [(ngModel)]="field.upLabel"></ion-input>
        <ion-input placeholder = 'Enter a placeholder' [(ngModel)]="field.placeholder"></ion-input>
        <ion-button color="danger" (click)="removeField(i)">Delete</ion-button>
      </ion-item>
    </div>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="Add text input" (click)="addTextInput()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Add select input" (click)="addSelectInput()">
        <ion-icon name="add" ></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
