<ion-header>
  <ion-toolbar>
    <ion-title>fillForm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Pour quelle pharmacie :</ion-label>
    <ion-select placeholder="Selectionner une :" [(ngModel)]="pourQui">
      <ion-select-option *ngFor ="let pharmacie of pharmalist" value="{{pharmacie.id}}">{{pharmacie.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div *ngFor ="let field of formServ.fields; let i = index" [attr.data-index]="i" >
    <div *ngIf="field.type === 'InputText'">
      <ion-item>
        <ion-label>{{field.upLabel}}</ion-label>
        <ion-input placeholder="{{field.placeholder}}" [(ngModel)]="reponses[field.upLabel]" ></ion-input>
      </ion-item>
    </div>
  </div>
  <ion-button expand="full" (click)="submit()">Valider</ion-button>
</ion-content>
