<ion-header>
    <ion-toolbar>
        <ion-title>
            Carte des Pharmacies
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content> 
  
    <ion-searchbar placeholder="Rechercher une pharmacie" showcancelbutton="" (ionInput)="shearch($event)" ></ion-searchbar>

    <ion-card *ngFor="let item of tab" (click)="findPharmaByName(item)">
      <h1>{{item.name}}</h1>
      <p>{{item.adresse}}</p>
    </ion-card>

    <div id="leafmap">
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button (click)="openModal()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
        

  
  


</ion-content>
