ion-content {
  padding: 0;
  margin: 0;
  --overflow: hidden;
}
ion-content, #leafmap {
  height: 100%;
  width: 100%;
}

#leafmap{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}