<ion-header>
    <ion-toolbar>
        <ion-title>
            Calculatrice
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br/>
    <ion-item>
        <ion-label position="floating" >Prix d'achat brut</ion-label>
        <ion-input type="number" [(ngModel)]='PAB' (ngModelChange)="calcul()">
        </ion-input>
    </ion-item>
    <br/><br/>

    <ion-item>
        <ion-label position="floating" >Prix d'achat net</ion-label>
        <ion-input type="number" [(ngModel)]='PAN' (ngModelChange)="calcul()">
        </ion-input>
    </ion-item>
    <br/><br/>

    <ion-item>
        <ion-label position="floating" >Taux de remise</ion-label>
        <ion-input type="number" [(ngModel)]='TDR' (ngModelChange)="calcul()">
        </ion-input>
    </ion-item>
    <br/><br/>

    <ion-item>
        <ion-label position="floating" >Prix de vente net</ion-label>
        <ion-input type="number" [(ngModel)]='PVN' (ngModelChange)="calcul()">
        </ion-input>
    </ion-item>
    <br/><br/>

    <ion-item>
        <ion-label position="floating" >Coefficient multiplicateur</ion-label>
        <ion-input type="number" [(ngModel)]='CM' (ngModelChange)="calcul()">
        </ion-input>
    </ion-item>
    <br/>
    <ion-button (click)="clear()" expand="block">Clear</ion-button>


</ion-content>

