<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulaires
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor ="let form of formulaires" >
      <ion-item (click)="fillFormulaire(form.id)">
        <ion-label>{{form.name}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="editFormulaire(form.id)" >Edit </ion-item-option>
        <ion-item-option color="danger" (click)="deleteFormulaire(form.id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="editFormulaire()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
