<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name ="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ajouter une pharmacie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
      <form (ngSubmit)="AddPharma()">
          <ion-item>
            <ion-label>Nom :</ion-label>
            <ion-input type="text" [(ngModel)]="pharma.name" name="Nom"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Adresse :</ion-label>
            <ion-input type="text" [(ngModel)]="pharma.adresse" name="adresse"></ion-input>
          </ion-item>
            <!-- 
              <ion-item>
                <p>Ma position </p>
                <ion-checkbox (click)="addValue($event)"></ion-checkbox>
              </ion-item>
            -->
          
          <ion-item>
              <ion-label>Latitude :</ion-label>
              <ion-input type="text" [(ngModel)]="pharma.latitude" name="Latitude"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Longitude :</ion-label>
              <ion-input type="text" [(ngModel)]="pharma.longitude" name="Longitude"></ion-input>
          </ion-item>
          <ion-button ion-button type="submit">Valider</ion-button>
        </form>
  </ion-card>
    
</ion-content>
